{% extends 'base.html' %}
{% block tittle %} Home {% endblock tittle%}
{% block body %}

<div class="container" >
  <div class="card" >
    <img src="/static/img/b.jpg" class="card-img-top" alt="...">
</div>
</p> {% endblock body%}
